.preview-image {
	height: 55;

}
.thumbnail-border {
  /*border-color: red;*/
  /*border-width: 1;*/

}
.bordered {
    border-width: 2; 
    /*border-color: red;*/
}
.btn-img{
    border-radius: 5;
    border-width: 1;
    color: white;
    margin: 1;
    font-size: 22;
    border-color: #2b3c6a;
    background-color: darkgray;
}
.img-preview-fontsize {
  font-size: 17;
  text-align: center;
  font-weight: bold;
}