/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
/*@import 'nativescript-theme-core/css/core.light.css';*/
/*@import '~nativescript-theme-core/css/aqua.css';*/
/*@import '~nativescript-theme-core/css/blue.css';*/
/*@import '~nativescript-theme-core/css/brown.css';*/
/*@import '~nativescript-theme-core/css/forest.css';*/
/*@import '~nativescript-theme-core/css/grey.css';*/
/*@import '~nativescript-theme-core/css/lemon.css';*/
@import '~nativescript-theme-core/css/lime.css';
/*@import '~nativescript-theme-core/css/orange.css';*/
/*@import '~nativescript-theme-core/css/purple.css';*/
/*@import '~nativescript-theme-core/css/ruby.css';*/
/*@import '~nativescript-theme-core/css/sky.css';*/
.my-label {
  color: #fff;
}
.fa {
    /*font-family: "icomoon";*/
    font-family: "FontAwesome, fontawesome-webfont";
    
    font-size: 48;
    font-weight: bold;
}
.action-bar-fontsize {
    font-size: 20 !important;
}
.action-bar-height{
    height: 20 !important;
}
.action-item-icon-fontsize {
    font-size: 30 !important;
}
.action-item-back-icon-fontsize {
    font-size: 40 !important;
}
.previous-image-icon-fontsize {
    font-size: 60 !important;
}
.next-image-icon-fontsize {
    font-size: 60 !important;
}
.activebar-btn {
    height: 40;
    width: 40;
     margin-left: 10;
      margin-right: 10;
}
.chevron-btn-left {
    height: 60;
    width: 60;
     margin-left: 1;
      margin-right: 10;
}
.chevron-btn-right {
    height: 60;
    width: 60;
     margin-left: 10;
      margin-right: 1;
}
.circle {
    width: 35;
    height: 35;
    border-radius: 17;
    border-width: 2;
    border-color: red;  
}
.circle-plus
{
    font-size: 10;
    color: red; 
}
button {
    /** ALL CAPS **/
    text-transform: capitalize;
    /*font-family: "FontAwesome, fontawesome-webfont";*/
    font-size: 17;
    font-weight: bold;
}
.save-btn {
    margin-left: 17 !important;
    margin-right: 17 !important;
}
.action-bar-lable {
       margin-left: 70 !important;
       font-size: 15 !important;
    /*margin-right: 20 !important;*/
}

.drawerContentText {
    font-size: 13;
    padding: 10;
}

.drawerContentButton {
    margin: 10;
    horizontal-align: left;
}

.sideStackLayout {
    background-color: gray;
}

.sideTitleStackLayout {
    text-align: center;
    vertical-align: center;
}

.sideLabel {
    padding: 10;
}

.sideLightGrayLabel {
    background-color: lightgray;
}
/*.Grid-Layout { font-size: 12; color: red; }
.landscape .Grid-Layout { font-size: 20; color: green; }*/