<ActionBar title="Image Gallery" class="action-bar">
    <ActionBar.titleView>
        <Button horizontalAlignment="left" verticalAlignment="center" (tap)="goBack()" class="btn-active btn-rounded-lg  btn-outline activebar-btn img-gallery-back">
            <FormattedString>
                <Span class="fa action-item-icon-fontsize" text="&#xf104;"></Span> 
            </FormattedString>
        </Button>
    </ActionBar.titleView>
    <ActionItem (tap)="onShare()" visibility="{{ isSharing ? 'visible' : 'collapse' }}">
        <Button horizontalAlignment="left" verticalAlignment="center" class="btn-active btn-rounded-lg  btn-outline activebar-btn img-gallery-share">
					<FormattedString>
						<Span class="fa action-item-icon-fontsize" text="&#xf1e1;"></Span> 
					</FormattedString>
				</Button>
    </ActionItem>

    <ActionItem (tap)="onDelete()" visibility="{{ isDeleting ? 'visible' : 'collapse' }}">
        <Button horizontalAlignment="center" verticalAlignment="center" class="btn-active btn-rounded-lg  btn-outline activebar-btn p-l-15">
					<FormattedString>
						<Span class="fa action-item-icon-fontsize"  text="&#xf1f8;"></Span> 
					</FormattedString>
				</Button>
    </ActionItem>
    <ActionItem (tap)="onSelectUnSelectAllCheckBox()" visibility="{{ isPopUpMenu ? 'visible' : 'collapse' }}" text="{{selectUnselectAllLable}}"
        android.position="popup">
    </ActionItem>
    <ActionItem (tap)="onSortByDate()" visibility="{{ isSortByDateMenu ? 'visible' : 'collapse' }}" text="{{sortByDateLable}}"
        android.position="popup">
    </ActionItem>
</ActionBar>


<Page (loaded)="onPageLoaded($event)" xmlns="http://schemas.nativescript.org/tns.xsd">

    <ScrollView>
        <WrapLayout orientation="horizontal" horizontalAlignment="center" verticalAlignment="center" backgroundColor="lightgray">
            <ng-template ngFor let-i="index" let-image [ngForOf]="imageList">
                <GridLayout class="bg-primary p-5 m-5 bordered img-rounded" width="30%" height="30%" horizontalAlignment="center" verticalAlignment="center"
                    backgroundColor="Black">
                    <Image src="{{ image.thumbnailPath }}" loadMode="async" stretch="aspectFill" (doubleTap)="goImageSlide(image.filePath,i)"
                        class="img-height img-gallery-image" (longPress)="setCheckboxVisible()"></Image>

                    <StackLayout [visibility]="isCheckBoxVisible ? 'visible' : 'collapsed'">
                        <CheckBox id="checkbox-{{i}}" checked={{image.isSelected}} (checkedChange)="isChecked($event, image.filePath, i)" fillColor="red" text="" class="img-gallery-checkbox"></CheckBox>
                    </StackLayout>
                </GridLayout>
            </ng-template>
            <!--<ActivityIndicator id="myIndicator" busy="{{isBusy}}" backgroundColor="lightgray" borderRadius="50" color="blue" width="50"
                height="50">
            </ActivityIndicator>-->
        </WrapLayout>
    </ScrollView>

    
</Page>
